[Unit]
Description=BitmexCoin's distributed currency daemon
After=network.target

[Service]
User=BitmexCoincore
Group=BitmexCoincore

Type=forking
PIDFile=/var/lib/BitmexCoind/BitmexCoind.pid
ExecStart=/usr/bin/BitmexCoind -daemon -pid=/var/lib/BitmexCoind/BitmexCoind.pid \
-conf=/etc/BitmexCoincore/BitmexCoin.conf -datadir=/var/lib/BitmexCoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
